In [1]:
import os
import sys
import pandas as pd
# search path for modules 
sys.path.append(os.path.abspath("../src"))
DATAPATH = "../data"
SRC= "../src"

#File path
input_file_path = os.path.join(DATAPATH, "Raw", "Test_Data.csv")
output_file_path = os.path.join(DATAPATH, "Processed", "PTest_Data.csv")

# Reading the CSV file into a pandas DataFrame
Data = pd.read_csv(input_file_path, delimiter=',')

In [2]:
Data.head()

,smiles,X10,X20,X40,X60,X80,X100
0,C=1([C@@H](C(=C(C)NC1C)C(OC)=O)c1cc(ccc1)[N+](...,1,1.0,1.0,1.0,1.0,1.0
1,C1(\c2c(CCc3c1cccc3)cccc2)=C\CCN(C)C,1,1.0,1.0,1.0,1.0,1.0
2,c1(c2c(cccc2)oc1CCCC)C(c1cc(c(OCCN(CC)CC)c(c1)...,1,1.0,1.0,1.0,1.0,1.0
3,[H][C@H]1CC[C@@H](C#N)C1C(=O)C3CN(C(C)c2ccc(C#...,1,1.0,1.0,1.0,1.0,1.0
4,[nH]1ccnc1-c2ccc(cc2)OCCCN3CCCCC3,1,1.0,1.0,1.0,1.0,1.0

In [3]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7889 entries, 0 to 7888
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   smiles  7889 non-null   object
 1   X10     7889 non-null   int64
 2   X20     6548 non-null   float64
 3   X40     5434 non-null   float64
 4   X60     5161 non-null   float64
 5   X80     4940 non-null   float64
 6   X100    4831 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 431.6+ KB

In [5]:
new_columns = ['smiles']
N_Data = Data.drop(columns=Data.columns.difference(new_columns)).dropna(subset=['smiles'])

In [6]:
N_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7889 entries, 0 to 7888
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   smiles  7889 non-null   object
dtypes: object(1)
memory usage: 61.8+ KB

In [7]:
from processing import generate_inchi_key


N_Data['InChI_Key'] = N_Data['smiles'].apply(generate_inchi_key)

N_Data.head()

,smiles,InChI_Key
0,C=1([C@@H](C(=C(C)NC1C)C(OC)=O)c1cc(ccc1)[N+](...,PVHUJELLJLJGLN-MRXNPFEDSA-N
1,C1(\c2c(CCc3c1cccc3)cccc2)=C\CCN(C)C,KRMDCWKBEZIMAB-UHFFFAOYSA-N
2,c1(c2c(cccc2)oc1CCCC)C(c1cc(c(OCCN(CC)CC)c(c1)...,IYIKLHRQXLHMJQ-UHFFFAOYSA-N
3,[H][C@H]1CC[C@@H](C#N)C1C(=O)C3CN(C(C)c2ccc(C#...,JCGAMUKFIGRQFG-BMRFCAOMSA-N
4,[nH]1ccnc1-c2ccc(cc2)OCCCN3CCCCC3,FHBHXTHCXKMLDG-UHFFFAOYSA-N

In [8]:
N_Data.reset_index(drop=True, inplace=True)

In [9]:
N_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7889 entries, 0 to 7888
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   smiles     7889 non-null   object
 1   InChI_Key  7889 non-null   object
dtypes: object(2)
memory usage: 123.4+ KB

In [10]:

N_Data.to_csv(output_file_path, index=False)